/* 折线图组件样式 */
 .h5_component_pie {


 }
.h5_component_pie canvas{
    position: absolute;/* 为了分层*/
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
 }
.h5_component_pie .text{
    position: absolute;
    text-align: center;
    z-index: 99;
    height:24px;
    transition: all 1s;

}
